:root {
  --dark-blue: #03122f;
  --midnight-blue: #19305c;
  --dark-purple: #413b61;
  --lavender: #ae7dac;
  --pale-pink: #f3dadf;
  --peach: #f1916d;
  --white: #ffffff;
  --grey: #f0f0f0;
  --light-grey: #dcdcdc;
  --blue: #C6E7FF;
  --beige: #FFDDAE;
}


